*{
    box-sizing: border-box;
}



body{
    /*background: #000;*/
}

#first {
    color:rgb(10, 33, 53);
    font-weight: 900;
    font-size: 100px;
}


.plain {
    font-size: 100px;
    background-color: rgb(255, 0, 81);
    float:left;
    color: pink;
    
}
a:hover {
    background-color: pink;
    
    color: rgb(255, 0, 81);
}
h1 {
    
}
p{
    border: 10px groove purple;
    
    
    text-emphasis: filled double-circle black;
    padding: 50px;
    background-color: aqua;
    margin: 100px auto;
    width: 400px;
    text-align: center;
    
}
img{
    display:block;
    margin: 20px auto;
    width:400px;
    
    border-radius: 100%;
}